* {
    margin: 0;
    /*margin é o espaçamento externo*/
    padding: 0;
    /*padding  é o espaçamento interno*/
}

#corpo {
    /* por padrão se não colocar uma extensão é "px"  */
    background-color: black;
    width: 500px;
    margin: auto;
}

#cabecalho {
    background-color: red;
}

#conteudo {
    background-color: green;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

#rodape {
    background-color: blue;
    
}